XML/Format/ECS_xsd_for_xml_upload/common_datatypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns="http://www.eurodyn.com"
    targetNamespace="http://www.eurodyn.com"> 
    <!-- This section defines the basic types to be used like DOC_ID, MRN etc-->
    <xsd:simpleType name="docId"><xsd:restriction base="xsd:string"><xsd:maxLength value="44"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="mrn"><xsd:restriction base="xsd:string"><xsd:maxLength value="21"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="lrn"><xsd:restriction base="xsd:string"><xsd:maxLength value="21"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="msgId"><xsd:restriction base="xsd:string"><xsd:maxLength value="6"/></xsd:restriction></xsd:simpleType>
    <!-- End of the basic types to be used like DOC_ID, MRN etc-->
    
    <!-- Have a look at xsd:pattern value="([^0-9]{2})?" -->
    <xsd:simpleType name="a1"><xsd:restriction base="xsd:string"><xsd:minLength value="1" /><xsd:maxLength value="1"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="a2"><xsd:restriction base="xsd:string"><xsd:minLength value="2" /><xsd:maxLength value="2"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="a3"><xsd:restriction base="xsd:string"><xsd:minLength value="3" /><xsd:maxLength value="3"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="a4"><xsd:restriction base="xsd:string"><xsd:minLength value="4" /><xsd:maxLength value="4"/></xsd:restriction></xsd:simpleType>

    <xsd:simpleType name="a..8"><xsd:restriction base="xsd:string"><xsd:maxLength value="8"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="a..29"><xsd:restriction base="xsd:string"><xsd:maxLength value="29"/></xsd:restriction></xsd:simpleType>

    <xsd:simpleType name="an..2"><xsd:restriction base="xsd:string">  <xsd:maxLength value="2"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="an..3"><xsd:restriction base="xsd:string">  <xsd:maxLength value="3"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="an..4"><xsd:restriction base="xsd:string">  <xsd:maxLength value="4"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="an..5"><xsd:restriction base="xsd:string">  <xsd:maxLength value="5"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="an..6"><xsd:restriction base="xsd:string">  <xsd:maxLength value="6"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="an..8"><xsd:restriction base="xsd:string">  <xsd:maxLength value="8"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="an..9"><xsd:restriction base="xsd:string">  <xsd:maxLength value="9"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="an..14"><xsd:restriction base="xsd:string"> <xsd:maxLength value="14"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="an..15"><xsd:restriction base="xsd:string"> <xsd:maxLength value="15"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="an..17"><xsd:restriction base="xsd:string"> <xsd:maxLength value="17"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="an..20"><xsd:restriction base="xsd:string"> <xsd:maxLength value="20"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="an..21"><xsd:restriction base="xsd:string"> <xsd:maxLength value="21"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="an..22"><xsd:restriction base="xsd:string"> <xsd:maxLength value="22"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="an..27"><xsd:restriction base="xsd:string"> <xsd:maxLength value="27"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="an..35"><xsd:restriction base="xsd:string"> <xsd:maxLength value="35"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="an..42"><xsd:restriction base="xsd:string"> <xsd:maxLength value="42"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="an..50"><xsd:restriction base="xsd:string"> <xsd:maxLength value="50"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="an..70"><xsd:restriction base="xsd:string"> <xsd:maxLength value="70"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="an..140"><xsd:restriction base="xsd:string"><xsd:maxLength value="140"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="an..175"><xsd:restriction base="xsd:string"><xsd:maxLength value="175"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="an..210"><xsd:restriction base="xsd:string"><xsd:maxLength value="210"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="an..280"><xsd:restriction base="xsd:string"><xsd:maxLength value="280"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="an..350"><xsd:restriction base="xsd:string"><xsd:maxLength value="350"/></xsd:restriction></xsd:simpleType>

    <xsd:simpleType name="an1"><xsd:restriction base="xsd:string"><xsd:minLength value="1"/><xsd:maxLength value="1"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="an2"><xsd:restriction base="xsd:string"><xsd:minLength value="2"/><xsd:maxLength value="2"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="an3"><xsd:restriction base="xsd:string"><xsd:minLength value="3"/><xsd:maxLength value="3"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="an4"><xsd:restriction base="xsd:string"><xsd:minLength value="4"/><xsd:maxLength value="4"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="an8"><xsd:restriction base="xsd:string"><xsd:minLength value="8"/><xsd:maxLength value="8"/></xsd:restriction></xsd:simpleType>


    
    <!--xsd:simpleType name="n..2"><xsd:restriction base="xsd:string"> <xsd:pattern value="([0-9]?){2}" /></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n..3"><xsd:restriction base="xsd:string"> <xsd:pattern value="([0-9]?){3}" /></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n..4"><xsd:restriction base="xsd:string"> <xsd:pattern value="([0-9]?){4}" /></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n..5"><xsd:restriction base="xsd:string"> <xsd:pattern value="([0-9]?){5}" /></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n..6"><xsd:restriction base="xsd:string"> <xsd:pattern value="([0-9]?){6}" /></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n..7"><xsd:restriction base="xsd:string"> <xsd:pattern value="([0-9]?){7}" /></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n..9"><xsd:restriction base="xsd:string"> <xsd:pattern value="([0-9]?){9}" /></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n..11"><xsd:restriction base="xsd:string"><xsd:pattern value="([0-9]?){11}" /></xsd:restriction></xsd:simpleType-->
    
    <xsd:simpleType name="n..2"><xsd:restriction base="xsd:nonNegativeInteger"><xsd:totalDigits value="2"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n..3"><xsd:restriction base="xsd:nonNegativeInteger"><xsd:totalDigits value="3"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n..4"><xsd:restriction base="xsd:nonNegativeInteger"><xsd:totalDigits value="4"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n..5"><xsd:restriction base="xsd:nonNegativeInteger"><xsd:totalDigits value="5"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n..6"><xsd:restriction base="xsd:nonNegativeInteger"><xsd:totalDigits value="6"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n..7"><xsd:restriction base="xsd:nonNegativeInteger"><xsd:totalDigits value="7"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n..9"><xsd:restriction base="xsd:nonNegativeInteger"><xsd:totalDigits value="9"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n..11"><xsd:restriction base="xsd:nonNegativeInteger"><xsd:totalDigits value="11"/></xsd:restriction></xsd:simpleType>
    
    <!--xsd:simpleType name="n..6.5"> <xsd:restriction base="xsd:string"><xsd:pattern value= "([0-9]?){1}(((\.|,)[0-9])([0-9]?){4})?" /></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n..8.6"> <xsd:restriction base="xsd:string"><xsd:pattern value= "([0-9]?){2}(((\.|,)[0-9])([0-9]?){5})?" /></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n..11.3"><xsd:restriction base="xsd:string"><xsd:pattern value= "([0-9]?){8}(((\.|,)[0-9])([0-9]?){2})?" /></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n..15.2"><xsd:restriction base="xsd:string"><xsd:pattern value="([0-9]?){13}(((\.|,)[0-9])([0-9]?){1})?" /></xsd:restriction></xsd:simpleType-->
    
    <xsd:simpleType name="n..6.5"> <xsd:restriction base="xsd:decimal"><xsd:totalDigits value="11"/><xsd:fractionDigits value="5"/><xsd:maxExclusive value="9.99999"></xsd:maxExclusive></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n..8.6"> <xsd:restriction base="xsd:decimal"><xsd:totalDigits value="14"/><xsd:fractionDigits value="6"/><xsd:maxExclusive value="99.999999"></xsd:maxExclusive></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n..11.3"><xsd:restriction base="xsd:decimal"><xsd:totalDigits value="14"/><xsd:fractionDigits value="3"/><xsd:maxExclusive value="99999999.999"></xsd:maxExclusive></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n..15.2"><xsd:restriction base="xsd:decimal"><xsd:totalDigits value="17"/><xsd:fractionDigits value="2"/><xsd:maxExclusive value="999999999999.99"></xsd:maxExclusive></xsd:restriction></xsd:simpleType>

    <!--xsd:simpleType name="n1"><xsd:restriction base="xsd:string"> <xsd:pattern value="([0-9]{1})?" /></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n2"><xsd:restriction base="xsd:string"> <xsd:pattern value="([0-9]{2})?" /></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n3"><xsd:restriction base="xsd:string"> <xsd:pattern value="([0-9]{3})?" /></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n4"><xsd:restriction base="xsd:string"> <xsd:pattern value="([0-9]{4})?" /></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n6"><xsd:restriction base="xsd:string"> <xsd:pattern value="([0-9]{6})?" /></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n8"><xsd:restriction base="xsd:integer"><xsd:pattern value="([0-9]{8})?" /><xsd:minInclusive value="10000000"/><xsd:maxInclusive value="99999999"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n12"><xsd:restriction base="xsd:string"><xsd:pattern value="([0-9]{12})?" /></xsd:restriction></xsd:simpleType-->

    <xsd:simpleType name="n1"><xsd:restriction base="xsd:nonNegativeInteger"> <xsd:totalDigits value="1"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n2"><xsd:restriction base="xsd:nonNegativeInteger"><xsd:totalDigits value="2"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n3"><xsd:restriction base="xsd:nonNegativeInteger"><xsd:totalDigits value="3"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n4"><xsd:restriction base="xsd:nonNegativeInteger"><xsd:totalDigits value="4"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n6"><xsd:restriction base="xsd:nonNegativeInteger"><xsd:totalDigits value="6"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n8"><xsd:restriction base="xsd:nonNegativeInteger"><xsd:totalDigits value="8"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="n12"><xsd:restriction base="xsd:nonNegativeInteger"> <xsd:totalDigits value="12"/></xsd:restriction></xsd:simpleType>
    <xsd:simpleType name="datetime"><xsd:restriction base="xsd:dateTime"></xsd:restriction></xsd:simpleType>
    
</xsd:schema>
