XML/SpecsFormat/ECS_xsd_for_BothHighandLow/CC615A.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.eurodyn.com"
    targetNamespace="http://www.eurodyn.com" elementFormDefault="qualified">
    <xsd:include schemaLocation="common_datatypes.xsd"/>
    <xsd:include schemaLocation="CommonCodelists.xsd"/>
    <xsd:element name="CC615A">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SyntaxIdentifier" type="a4">
                </xsd:element>
                <xsd:element name="SyntaxVersionNumber" type="n1">
                </xsd:element>
                <xsd:element name="MessageSender" type="an..35">
                </xsd:element>
                <xsd:element name="SenderIdCodeQualifier" type="an..4" minOccurs="0"/>
                <xsd:element name="MessageRecipient" type="an..35">
                </xsd:element>
                <xsd:element name="RecipientIdentifCodeQualifier" type="an..4" minOccurs="0"/>
                <xsd:element name="DateOfPreparation" type="n6">
                </xsd:element>
                <xsd:element name="TimeOfPreparation" type="an4">
                </xsd:element>
                <xsd:element name="InterchangeControlReference" type="an..14">
                </xsd:element>
                <xsd:element name="RecipientsRefPasswd" type="an..14" minOccurs="0"/>
                <xsd:element name="RecipientsRefPasswdQualifier" type="an2" minOccurs="0"/>
                <xsd:element name="ApplicationReference" type="an..14" minOccurs="0"/>
                <xsd:element name="Priority" type="a1" minOccurs="0"/>
                <xsd:element name="AcknowledgementRequest" type="n1" minOccurs="0"/>
                <xsd:element name="CommunicationsAgreementId" type="an..35" minOccurs="0"/>
                <xsd:element name="TestIndicator" type="n1" minOccurs="0"/>
                <xsd:element name="MessageIdentification" type="an..14">
                </xsd:element>
                <xsd:element name="MessageType" type="an..6">
                </xsd:element>
                <xsd:element name="CommonAccessReference" type="an..35" minOccurs="0"/>
                <xsd:element name="Msg615Header" maxOccurs="1" minOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="ReferenceNumber" type="an..22">
                            </xsd:element>
                            <xsd:element name="CustomsSubPlace" type="an..17" minOccurs="0"/>
                            <xsd:element name="TotalNumberOfItems" type="n..5">
                            </xsd:element>
                            <xsd:element name="TotalNumberOfPackages" type="n..7" minOccurs="0"/>
                            <xsd:element name="TotalGrossMass" type="n..11.3" minOccurs="0"/>
                            <xsd:element name="ArrivalAgreedLocationCode" type="an..17"
                                minOccurs="0"/>
                            <xsd:element name="ArrivalAgreedLocOfGoods" type="an..35" minOccurs="0"/>
                            <xsd:element name="ArrivalAgreedLocOfGoodsLNG" type="a2" minOccurs="0"/>
                            <xsd:element name="DeclarationDate" type="datetime">
                            </xsd:element>
                            <xsd:element name="DeclarationPlace" type="an..35">
                            </xsd:element>
                            <xsd:element name="DeclarationPlaceLNG" type="a2" minOccurs="0"/>
                            <xsd:element name="SpecificCircumstanceIndicator" type="a1"
                                minOccurs="0"/>
                            <xsd:element name="TranspChargesMethodOfPayment" type="a1" minOccurs="0"/>
                            <xsd:element name="CommercialReferenceNumber" type="an..70"
                                minOccurs="0"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="Msg615Consignor" maxOccurs="1" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="TraderName" type="an..35" minOccurs="0"/>
                            <xsd:element name="StreetAndNumber" type="an..35" minOccurs="0"/>
                            <xsd:element name="PostalCode" type="an..9" minOccurs="0"/>
                            <xsd:element name="City" type="an..35" minOccurs="0"/>
                            <xsd:element name="CountryCode" type="a2" minOccurs="0"/>
                            <xsd:element name="NADLNG" type="a2" minOccurs="0"/>
                            <xsd:element name="TIN" type="an..17" minOccurs="0"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="Msg615Consignee" maxOccurs="1" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="TraderName" type="an..35">
                            </xsd:element>
                            <xsd:element name="StreetAndNumber" type="an..35">
                            </xsd:element>
                            <xsd:element name="PostalCode" type="an..9">
                            </xsd:element>
                            <xsd:element name="City" type="an..35">
                            </xsd:element>
                            <xsd:element name="CountryCode" type="a2">
                            </xsd:element>
                            <xsd:element name="NADLNG" type="a2" minOccurs="0"/>
                            <xsd:element name="TIN" type="an..17" minOccurs="0"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="Msg615ExitCustomsOffice" maxOccurs="1" minOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="ReferenceNumber" type="an8">
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="Msg615GoodsItem" maxOccurs="999" minOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="ItemNumber" type="n..5">
                            </xsd:element>
                            <xsd:element name="GoodsDescription" type="an..280" minOccurs="0"/>
                            <xsd:element name="GoodsDescriptionLNG" type="a2" minOccurs="0"/>
                            <xsd:element name="GrossMass" type="n..11.3" minOccurs="0"/>
                            <xsd:element name="TranspChargesMethodOfPayment" type="a1" minOccurs="0"/>
                            <xsd:element name="CommercialReferenceNumber" type="an..70"
                                minOccurs="0"/>
                            <xsd:element name="UNDangerousGoodsCode" type="an4" minOccurs="0"/>
                            <xsd:element name="Msg615ProducedDocumentsCertif" maxOccurs="99"
                                minOccurs="0">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="DocumentType" type="an..4">
                                        </xsd:element>
                                        <xsd:element name="DocumentReference" type="an..35">
                                        </xsd:element>
                                        <xsd:element name="DocumentReferenceLNG" type="a2"
                                            minOccurs="0"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Msg615ConsignorTrader" maxOccurs="1" minOccurs="0">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="TraderName" type="an..35" minOccurs="0"/>
                                        <xsd:element name="StreetAndNumber" type="an..35"
                                            minOccurs="0"/>
                                        <xsd:element name="PostalCode" type="an..9" minOccurs="0"/>
                                        <xsd:element name="City" type="an..35" minOccurs="0"/>
                                        <xsd:element name="CountryCode" type="a2" minOccurs="0"/>
                                        <xsd:element name="NADLNG" type="a2" minOccurs="0"/>
                                        <xsd:element name="TIN" type="an..17" minOccurs="0"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Msg615CodeCommodity" maxOccurs="1" minOccurs="0">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="CombinedNomenclature" type="an..8">
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Msg615ConsigneeTrader" maxOccurs="1" minOccurs="0">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="TraderName" type="an..35">
                                        </xsd:element>
                                        <xsd:element name="StreetAndNumber" type="an..35">
                                        </xsd:element>
                                        <xsd:element name="PostalCode" type="an..9">
                                        </xsd:element>
                                        <xsd:element name="City" type="an..35">
                                        </xsd:element>
                                        <xsd:element name="CountryCode" type="a2">
                                        </xsd:element>
                                        <xsd:element name="NADLNG" type="a2" minOccurs="0"/>
                                        <xsd:element name="TIN" type="an..17" minOccurs="0"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Msg615Containers" maxOccurs="99" minOccurs="0">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="ContainerNumber" type="an..17">
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Msg615Packages" maxOccurs="99" minOccurs="0">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="MarksNumbersOfPackages" type="an..42"
                                            minOccurs="0"/>
                                        <xsd:element name="MarksNumbersOfPackagesLNG" type="a2"
                                            minOccurs="0"/>
                                        <xsd:element name="KindOfPackages" type="an..3">
                                        </xsd:element>
                                        <xsd:element name="NumberOfPackages" type="n..5"
                                            minOccurs="0"/>
                                        <xsd:element name="NumberOfPieces" type="n..5" minOccurs="0"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="Msg615Itinerary" maxOccurs="99" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="CountryOfRoutingCode" type="a2">
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="Msg615LodgementCustomsOffice" maxOccurs="1" minOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="ReferenceNumber" type="an8">
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="Msg615RepresentativeTrader" maxOccurs="1" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="TraderName" type="an..35" minOccurs="0"/>
                            <xsd:element name="StreetAndNumber" type="an..35" minOccurs="0"/>
                            <xsd:element name="PostalCode" type="an..9" minOccurs="0"/>
                            <xsd:element name="City" type="an..35" minOccurs="0"/>
                            <xsd:element name="CountryCode" type="a2" minOccurs="0"/>
                            <xsd:element name="NADLNG" type="a2" minOccurs="0"/>
                            <xsd:element name="TIN" type="an..17">
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="Msg615LodgingSumDeclarationPer" maxOccurs="1" minOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="TraderName" type="an..35" minOccurs="0"/>
                            <xsd:element name="StreetAndNumber" type="an..35" minOccurs="0"/>
                            <xsd:element name="PostalCode" type="an..9" minOccurs="0"/>
                            <xsd:element name="City" type="an..35" minOccurs="0"/>
                            <xsd:element name="CountryCode" type="a2" minOccurs="0"/>
                            <xsd:element name="NADLNG" type="a2" minOccurs="0"/>
                            <xsd:element name="TIN" type="an..17">
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="Msg615SealsId" maxOccurs="99" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="SealsIdentity" type="an..20">
                            </xsd:element>
                            <xsd:element name="SealsIdentityLNG" type="a2" minOccurs="0"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
