XML/SpecsFormat/ECS_xsd_for_BothHighandLow/EXS_xsd/CC615A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="http://ecs.dgtaxud.ec/CC615A" xmlns:complex_ecs="http://ecs.dgtaxud.ec/complex_ecs" xmlns:simple_ecs="http://ecs.dgtaxud.ec/simple_ecs" xmlns:tcl_ecs="http://ecs.dgtaxud.ec/tcl_ecs" xmlns:simple="http://ecs.dgtaxud.ec/simple" xmlns:tcl="http://ecs.dgtaxud.ec/tcl" xmlns:doc="http://ecs.dgtaxud.ec/doc" targetNamespace="http://ecs.dgtaxud.ec/CC615A" attributeFormDefault="unqualified" elementFormDefault="unqualified" version="26.00">
  <!--=========================================-->
  <!--===== IE615:E_EXS_DAT  -->
  <!--===== EXIT SUMMARY DECLARATION  -->
  <!--===== ECS P2 Phase Definition  -->
  <!--===== DDNXA 4.00  -->
  <!--===== XSD version v26.00  -->
  <!--=========================================-->
  <!--===== Imports =====-->
  <xs:import namespace="http://ecs.dgtaxud.ec/doc" schemaLocation="doc.xsd" />
  <xs:import namespace="http://ecs.dgtaxud.ec/complex_ecs" schemaLocation="complex_types_ecs.xsd" />
  <xs:import namespace="http://ecs.dgtaxud.ec/simple_ecs" schemaLocation="simple_types_ecs.xsd" />
  <xs:import namespace="http://ecs.dgtaxud.ec/tcl_ecs" schemaLocation="tcl_ecs.xsd" />
  <xs:import namespace="http://ecs.dgtaxud.ec/simple" schemaLocation="simple_types.xsd" />
  <xs:import namespace="http://ecs.dgtaxud.ec/tcl" schemaLocation="tcl.xsd" />
  <!--===== Root Element =====-->
  <xs:element name="CC615A" type="ie:CC615AType" />
  <!--===== Root Element Content =====-->
  <xs:complexType name="CC615AType">
    <xs:sequence>
      <xs:group ref="ie:MESSAGE" />
      <xs:element name="HEAHEA" type="ie:HEAHEAType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="HEADER" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRACONCO1" type="complex_ecs:TRACONCO1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(CONSIGNOR) TRADER" />
            <doc:rule name="R010" />
            <doc:rule name="R804" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRACONCE1" type="ie:TRACONCE1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(CONSIGNEE) TRADER" />
            <doc:rule name="R011" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CUSOFFEXIEXT" type="complex_ecs:CUSOFFEXIEXTType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(EXIT) CUSTOMS OFFICE" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GOOITEGDS" type="ie:GOOITEGDSType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="GOODS ITEM" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ITI" type="complex_ecs:ITIType" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="ITINERARY" />
            <doc:rule name="R879" />
            <doc:condition name="C570" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CUSOFFLON" type="complex_ecs:CUSOFFLONType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(LODGEMENT) CUSTOMS OFFICE" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRAREP" type="complex_ecs:TRAREPType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(REPRESENTATIVE) TRADER" />
            <doc:rule name="R857" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PERLODSUMDEC" type="complex_ecs:PERLODSUMDECType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(LODGING SUMMARY DECLARATION) PERSON" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SEAID529" type="complex_ecs:SEAID529Type" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="SEALS ID" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== MESSAGE Content =====-->
  <xs:group name="MESSAGE">
    <xs:sequence>
      <xs:element name="SynIdeMES1" type="tcl:SyntaxIdentifier">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Syntax identifier" />
            <doc:codeList name="SyntaxIdentifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SynVerNumMES2" type="tcl:SyntaxVersionNumber">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Syntax version number" />
            <doc:codeList name="SyntaxVersionNumber" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesSenMES3" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message sender" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SenIdeCodQuaMES4" type="simple:Alphanumeric_Max4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Sender identification code qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesRecMES6" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message recipient" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecIdeCodQuaMES7" type="simple:Alphanumeric_Max4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Recipient identification code qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DatOfPreMES9" type="simple:DatePrepType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Date of preparation" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimOfPreMES10" type="simple:TimeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Time of preparation" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IntConRefMES11" type="simple:Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Interchange control reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecRefMES12" type="simple:Alphanumeric_Max14" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Recipient's reference/password" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecRefQuaMES13" type="simple:Alphanumeric_2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Recipient's reference/password qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppRefMES14" type="simple:Alphanumeric_Max14" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Application reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PriMES15" type="simple:Alpha_1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Priority" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AckReqMES16" type="tcl:Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Acknowledgement request" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComAgrIdMES17" type="simple:Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Communications agreement id" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TesIndMES18" type="tcl:Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Test indicator" />
            <doc:rule name="TR9085" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesIdeMES19" type="simple:Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message identification" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesTypMES20" type="tcl:MessageTypes">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message type" />
            <doc:codeList name="MessageTypes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComAccRefMES21" type="simple:Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Common access reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <!--===== HEADER =====-->
  <xs:complexType name="HEAHEAType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="HEADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumHEA4" type="simple:Alphanumeric_Max22">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CusSubPlaHEA66" type="simple:Alphanumeric_Max17" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Customs sub place" />
            <doc:rule name="R880" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotNumOfIteHEA305" type="simple:Numeric_Max5">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Total number of items" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotNumOfPacHEA306" type="simple:Numeric_Max7" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Total number of packages" />
            <doc:rule name="R105" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotGroMasHEA307" type="simple:Decimal_11_3" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Total gross mass" />
            <doc:rule name="TR0021" />
            <doc:condition name="C581" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArrAgrLocCodHEA62" type="simple:Alphanumeric_Max17" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Arrival agreed Location code" />
            <doc:rule name="R880" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArrAgrLocOfGooHEA63" type="simple:Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Arrival agreed Location of goods" />
            <doc:rule name="R880" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArrAgrLocOfGooHEA63LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Arrival agreed Location of goods LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecDatHEA383" type="simple:DateType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Declaration date" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecPlaHEA394" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Declaration place" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecPlaHEA394LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Declaration place LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SpeCirIndHEA1" type="simple:AlphaCapital1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Specific Circumstance Indicator" />
            <doc:rule name="R839" />
            <doc:codeList name="SpecificCircumstanceIndicator" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TraChaMetOfPayHEA1" type="simple:AlphaCapital1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Transport charges/ Method of Payment" />
            <doc:codeList name="TransportChargesMethodOfPayment" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComRefNumHEA" type="simple:Alphanumeric_Max70" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Commercial Reference Number" />
            <doc:rule name="R876" />
            <doc:condition name="C567" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (CONSIGNEE) TRADER =====-->
  <xs:complexType name="TRACONCE1Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(CONSIGNEE) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamCE17" type="simple:TradNameType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumCE122" type="simple:StreetNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodCE123" type="simple:PostalCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitCE124" type="simple:CityType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouCE125" type="simple:CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code" />
            <doc:codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NADLNGCE" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINCE159" type="simple:TINType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== GOODS ITEM =====-->
  <xs:complexType name="GOOITEGDSType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="GOODS ITEM" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IteNumGDS7" type="simple:Numeric_Max5">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Item number" />
            <doc:rule name="R005" />
            <doc:rule name="R007" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GooDesGDS23" type="simple:Alphanumeric_Max280" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Goods description" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GooDesGDS23LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Goods description LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GroMasGDS46" type="simple:Decimal_11_3" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Gross mass" />
            <doc:condition name="C580" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MetOfPayGDI12" type="simple:AlphaCapital1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Transport charges/ Method of Payment" />
            <doc:rule name="TR9120" />
            <doc:condition name="C576" />
            <doc:codeList name="TransportChargesMethodOfPayment" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComRefNumGIM1" type="simple:Alphanumeric_Max70" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Commercial Reference Number" />
            <doc:rule name="R876" />
            <doc:condition name="C567" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UNDanGooCodGDI1" type="simple:Numeric_4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="UN dangerous goods code" />
            <doc:codeList name="UnDangerousGoodsCode" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PRODOCDC2" type="ie:PRODOCDC2Type" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="PRODUCED DOCUMENTS/CERTIFICATES" />
            <doc:condition name="C567" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRACONCO2" type="complex_ecs:TRACONCO2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(CONSIGNOR) TRADER" />
            <doc:rule name="R010" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="COMCODGODITM" type="ie:COMCODGODITMType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(CODE) COMMODITY" />
            <doc:condition name="C585" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRACONCE2" type="ie:TRACONCE2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(CONSIGNEE) TRADER" />
            <doc:rule name="R011" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CONNR2" type="ie:CONNR2Type" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="CONTAINERS" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PACGS2" type="ie:PACGS2Type" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="PACKAGES" />
            <doc:condition name="C577" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== PRODUCED DOCUMENTS/CERTIFICATES =====-->
  <xs:complexType name="PRODOCDC2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="PRODUCED DOCUMENTS/CERTIFICATES" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocTypDC21" type="simple:AlphanumericCapitalMax4Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Document type" />
            <doc:codeList name="DocumentTypeCommon" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocRefDC23" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Document reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocRefDCLNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Document reference LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (CODE) COMMODITY =====-->
  <xs:complexType name="COMCODGODITMType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(CODE) COMMODITY" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ComNomCMD1" type="simple:NumericMin4Max8">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Combined Nomenclature" />
            <doc:rule name="R881" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (CONSIGNEE) TRADER =====-->
  <xs:complexType name="TRACONCE2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(CONSIGNEE) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamCE27" type="simple:TradNameType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumCE222" type="simple:StreetNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodCE223" type="simple:PostalCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitCE224" type="simple:CityType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouCE225" type="simple:CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code" />
            <doc:codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NADLNGGICE" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINCE259" type="simple:TINType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== CONTAINERS =====-->
  <xs:complexType name="CONNR2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="CONTAINERS" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ConNumNR21" type="simple:Alphanumeric_Max17">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Container number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== PACKAGES =====-->
  <xs:complexType name="PACGS2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="PACKAGES" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MarNumOfPacGS21" type="simple:Alphanumeric_Max42" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Marks &amp; numbers of packages" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarNumOfPacGS21LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Marks &amp; numbers of packages LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KinOfPacGS23" type="simple:Alphanumeric_2">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Kind of packages" />
            <doc:codeList name="KindOfPackages" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumOfPacGS24" type="simple:Numeric_Max5" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Number of packages" />
            <doc:rule name="R021" />
            <doc:rule name="TR0022" />
            <doc:condition name="C061" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumOfPieGS25" type="simple:Numeric_Max5" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Number of pieces" />
            <doc:condition name="C061" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

